name: Promote Preview to Production

on:
  workflow_dispatch:

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Promote latest preview deployment to production
        run: vercel promote --token=${{ secrets.VERCEL_TOKEN }}
